.container {
  width: 1240px;
}
.clearfix {
  clear: both;
}
.page-menu {
  background: lightskyblue;
}
.page-menu ul li,
.page-menu ul a {
  display: inline-block;
}
.page-menu ul a {
  margin-right: 40px;
}
.title-content-page {
  margin-bottom: 3px;
  text-align: center;
}
.title-content-page h1 {
  color: #008000;
  text-transform: uppercase;
  padding: 0 35px;
  border-bottom: 2px solid #9DD7a0;
  font-size: 25px;
  padding-bottom: 1px;
  font-weight: 100;
  display: inline-block;
}
.bg-grey {
  background-color: #f8f8f8 !important;
}
.breadcrumb {
  display: block;
  list-style: none;
}
.breadcrumb li {
  float: left;
  margin-bottom: 5px;
}
.breadcrumb li a {
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.255px;
  color: #000000;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.breadcrumb li a:hover {
  color: blue;
}
.breadcrumb li.active {
  color: #008000;
  font-size: 17px;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding-left: 5px;
  color: #000000;
}
.slider {
  width: 1300px;
}
.garanty {
  padding: 4px 0 50px 0;
}
.garanty .garanty-items {
  margin: 10px 100px 0;
}
.garanty .garanty-items .delivery,
.garanty .garanty-items .product,
.garanty .garanty-items .docs,
.garanty .garanty-items .posluga {
  display: inline-block;
  width: 255px;
}
.garanty .garanty-items .delivery .name,
.garanty .garanty-items .product .name,
.garanty .garanty-items .docs .name,
.garanty .garanty-items .posluga .name {
  font-family: Raleway Medium;
  font-size: 24px;
  text-align: center;
  width: 210px;
  margin: 0 auto;
}
.garanty .garanty-items .delivery .ico,
.garanty .garanty-items .product .ico,
.garanty .garanty-items .docs .ico,
.garanty .garanty-items .posluga .ico {
  margin: 0 auto;
  margin-bottom: 10px;
}
.garanty .garanty-items .delivery .ico {
  background: url(../img/css/delivery.png) no-repeat;
  width: 160px;
  height: 130px;
}
.garanty .garanty-items .product .ico {
  background: url(../img/css/product.png) no-repeat;
  width: 112px;
  height: 146px;
}
.garanty .garanty-items .docs .ico {
  background: url(../img/css/doc.png) no-repeat;
  width: 135px;
  height: 138px;
}
.garanty .garanty-items .posluga .ico {
  background: url(../img/css/posluga.png) no-repeat;
  width: 116px;
  height: 136px;
}
.working {
  /*padding-top: 70px;*/
}
.working ul {
  position: relative;
  padding: 55px 0 60px 0;
}
.working ul .mail,
.working ul .notif,
.working ul .dogovor,
.working ul .deliv,
.working ul .zamovl {
  display: inline-block;
}
.working ul .mail .ico,
.working ul .notif .ico,
.working ul .dogovor .ico,
.working ul .deliv .ico,
.working ul .zamovl .ico {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid #008a4f;
  margin-right: 50px;
  margin-bottom: 20px;
}
.working ul .mail .text,
.working ul .notif .text,
.working ul .dogovor .text,
.working ul .deliv .text,
.working ul .zamovl .text {
  text-align: center;
  display: inline-flex;
  width: 194px;
  font-family: Raleway Medium;
  font-size: 27px;
  margin-top: 11px;
}
.working ul .mail ::before,
.working ul .notif ::before,
.working ul .dogovor ::before,
.working ul .deliv ::before,
.working ul .zamovl ::before {
  content: "";
  position: absolute;
  width: 163px;
  height: 52px;
}
.working ul .mail ::before {
  background: url(../img/row-up.png) center no-repeat;
  top: 20px;
  left: 130px;
}
.working ul .mail .ico {
  background: #ffffff url('../img/css/mail2.png') no-repeat center;
}
.working ul .notif ::before {
  background: url(../img/row-down.png) center no-repeat;
  bottom: 150px;
  left: 380px;
}
.working ul .notif .ico {
  background: #ffffff url('../img/css/notification.png') no-repeat center;
}
.working ul .dogovor ::before {
  background: url(../img/row-up.png) center no-repeat;
  top: 20px;
  left: 625px;
}
.working ul .dogovor .ico {
  background: #ffffff url('../img/css/dogovor.png') no-repeat center;
}
.working ul .zamovl ::before {
  background: url(../img/row-down.png) center no-repeat;
  bottom: 150px;
  left: 875px;
}
.working ul .zamovl .ico {
  background: #ffffff url('../img/css/zamovl.png') no-repeat center;
}
.working ul .deliv .ico {
  background: #ffffff url('../img/css/deliver.png') no-repeat center;
}
.category {
  /*margin-top: 20px;*/
  padding-bottom: 70px;
  background-color: #f8f8f8;
}
.category .category-item {
  margin-top: 5px;
  float: left;
  display: inline-block;
}
.category .category-item .name a {
  margin: 0 auto;
  color: #008a4f;
  border-bottom: 1px solid;
  font-family: Raleway SemiBold, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
  width: 278px;
  box-shadow: 0px 7px 9px -7px rgba(0, 128, 0, 0.23);
  display: block;
  text-decoration: none;
}
.category .category-item .img {
  border: 1px solid #ffffff;
  margin-top: 20px;
  width: 304px;
  height: 260px;
}
.category .category-item .img img {
  width: 102%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */